<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="joint_friction" value="0.005" />
  <xacro:property name="joint_damping" value="0.005" />
  <xacro:property name="PIhalf" value="1.570796" />
  <xacro:property name="PI" value="3.141592" />
  <xacro:macro name="kuka_base_frame" params="robot_name">
  <link name="world" />
  
  <joint
    name="fixed"
    type="fixed">
    <parent
      link="world" />
    <child
      link="frame" />
    <axis xyz="0 0 1"/>
  </joint>
  <link
    name="frame">
    <inertial>
      <origin
        xyz="1.5 0.25 1.25"
        rpy="0 0 0" />
      <mass
        value="2697" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/iiwa14/visual/base_link.STL"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/iiwa14/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>

  </xacro:macro>
</robot>