<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="pulsating_surface_transmission" params = "hardware_interface robot_name">
  <transmission name="pulsating_surface_tran_1">
      <robotNamespace>/pulsating_surface</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
  <joint name="table_joint">
	 <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
  </joint>
  <actuator name="pulsating_surface_motor_1">
	 <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  </transmission>
  </xacro:macro>
</robot>
