<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="complete_chain" params="robot_name">

	<!-- Import all Gazebo-customization elements, including Gazebo colors -->
	<!-- Include Utilities -->
	<xacro:include filename="$(find iiwa_description)/urdf/utilities.xacro" />
	<!-- Include EOAT -->
	<xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
	<xacro:include filename="$(find iiwa_description)/urdf/kuka_base_frame.xacro" />
	<xacro:include filename="$(find iiwa_description)/urdf/dual_arm_system/Dual_Arm.xacro" />
	<xacro:include filename="$(find iiwa_description)/urdf/pulsating_surface.xacro" />
	<xacro:include filename="$(find iiwa_description)/urdf/dual_arm_system/surgical_env.xacro" />

	<!-- <xacro:include filename="$(find iiwa_description)/urdf/gripper_eoat.xacro" /> -->


	<xacro:arg name="hardware_interface" default="EffortJointInterface"/>
	<xacro:arg name="robot_name" default="iiwa"/>
	<xacro:arg name="origin_xyz" default="0 0 0"/>
	<xacro:arg name="origin_rpy" default="0 0 0"/>


	<xacro:kuka_base_frame robot_name="$(arg robot_name)"/>
	<!-- <xacro:surgical_env robot_name="$(arg robot_name)"/> -->

	<!-- <xacro:pulsating_surface robot_name="$(arg robot_name)"/> -->
	<xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    	<origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  	</xacro:iiwa14>


	<xacro:dual_arm_manipulator robot_name="$(arg robot_name)"/>


	<!-- <xacro:iiwa_gazebo robot_name="$(arg robot_name)"/> -->
	<!-- <xacro:iiwa_transmission hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)"/>
 -->	<!-- <xacro:pulsating_surface_transmission hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)"/> -->
	</xacro:macro>

</robot>
