<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="iiwa_transmission" params="hardware_interface robot_name">
    <transmission name="${robot_name}_tran_1">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_1">
	<hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_1">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${robot_name}_tran_2">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_2">
	    <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_2">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${robot_name}_tran_3">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_3">
	    <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_3">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${robot_name}_tran_4">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_4">
	    <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_4">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${robot_name}_tran_5">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_5">
	    <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_5">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${robot_name}_tran_6">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_6">
	    <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_6">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${robot_name}_tran_7">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${robot_name}_joint_7">
	    <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_7">
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>


    <transmission name="J1_L_trans">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J1_L">
      <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J1_L_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="J2_L_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J2_L">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J2_L_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

<transmission name="J3_L_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J3_L">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J3_L_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="J4_L_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J4_L">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J4_L_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="J1_R_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J1_R">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J1_R_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="J2_R_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J2_R">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J2_R_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="J3_R_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J3_R">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J3_R_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="J4_R_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="J4_R">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="J4_R_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="wristJ1_R_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wristJ1_R">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="wristJ1_R_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>

  <transmission name="wristJ2_R_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wristJ2_R">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="wristJ2_R_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>

  <transmission name="wristJ1_L_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wristJ1_L">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="wristJ1_L_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>

  <transmission name="wristJ2_L_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wristJ2_L">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="wristJ2_L_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>
<!--
  <transmission name="gripper_base_joint_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="gripper_base_joint">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="gripper_base_joint_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>

  <transmission name="claw_1_joint_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="claw_1_joint">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="claw_1_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="claw_2_joint_tran">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="claw_2_joint">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="claw_2_motor">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="gripper_base_joint_tran_2">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="gripper_base_joint_2">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="gripper_base_joint_motor_2">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="claw_1_joint_tran_2">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="claw_1_joint_2">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="claw_1_motor_2">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  <transmission name="claw_2_joint_tran_2">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="claw_2_joint_2">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="claw_2_motor_2">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>-->
<!-- 
  <transmission name="pulsating_surface_tran_1">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="table_joint">
  <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="pulsating_surface_motor_1">
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission> -->

  </xacro:macro>
</robot>
