<?xml version="1.0"?>
<launch>
  


<!-- ===================================================================================== -->
<!-- |    Lauch file to start user defined controllers in Gazebo         | -->

<!-- |    It allows to customize the name of the robot, for each robot                   | -->
<!-- |	  its topics will be under a nameespace with the same name as the robot's.       | -->

<!-- |	  One can choose to have a joint trajectory controller or                        | -->
<!-- |    controllers for the single joints, using the "trajectory" argument.            | -->
<!-- ===================================================================================== -->

  
	<!--rosparam file="$(find iiwa_control)/config/$(arg robot_name)_control.yaml" command="load" /--> <!-- FILE TO BE LOADED-->

	<!-- Parameters to pass to the ROS node -->
	<arg name="ros_rate" default="100"/>
	<arg name="isGazebo" default="true" />


	<!-- Here we call the ROS node we have written, with the parameters on top   -->
	<node ns="iiwa" name="CommandRobot" pkg="iiwa_tool_examples" type="command_robot" respawn="false" output="screen">
		<param name="ros_rate" value="$(arg ros_rate)" />
		<param name="isGazebo" value="$(arg isGazebo)" />
	</node>


  
  
</launch>